services:
  server:
    build:
      context: .
      dockerfile: server/Dockerfile
    ports:
      - "3001:3001"
    env_file:
      - server/.env
    environment:
      - ALLOWED_ORIGINS=http://localhost:3000,http://client:3000

  client:
    build:
      context: .
      dockerfile: client/Dockerfile
      args:
        NEXT_PUBLIC_SERVER_URL: http://server:3001
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_SERVER_URL=http://server:3001
    depends_on:
      - server
